{
    "name": "DebugToolkit",
    "version_number": "[MODVER]",
    "website_url": "https://github.com/harbingerofme/DebugToolkit",
    "description": "Adds console command for debugging mods.",
    "dependencies": [
	"bbepis-BepInExPack-3.0.0",
	"tristanmcpherson-R2API-2.3.20",
	"wildbook-MiniRpcLib-0.0.1"
    ]
}