{
    "name": "RoR2Cheats",
    "version_number": "[MODVER]",
    "website_url": "https://github.com/harbingerofme/DebugToolkit",
    "description": "Various console commands for 'debugging'.",
    "dependencies": [
	"bbepis-BepInExPack-3.0.0",
	"tristanmcpherson-R2API-2.2.54",
	"wildbook-MiniRpcLib-0.0.1"
    ]
}